.about {
  padding: 20px;
  margin: auto;
  max-width: 900px;
  text-align: center;
}

.about__title {
  font-size: 2em;
  margin-bottom: 15px;
  color: #333; /* Adjust the color to fit your theme */
}

.about__description {
  margin-top: -300px; 
  font-size: 20px;
  line-height: 1.5;
  color: black; /* Adjust the color to fit your theme */
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  .about {
      padding: 10px;
  }

  .about__title {
      font-size: 1.5em;
  }

  .about__description {
      font-size: 0.9em;
      
  }
}
.about__image {
  width: 250px;
  height: auto;
  border-radius: 100%;
  margin-bottom: 370px;

}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; /* Adjust this value to increase or decrease the space between the icons */
  margin-top: 20px;
  color: white;
} 
.footer__social a {
  color: white;
}